/* Estilo Geral */
body {

	--tm-primaryColor: #ff4e4e;
	--tm-secondaryColor: #681717;
	--tm-tertiaryColor: #ffffff;
	
	/*font-family: cursive;*/
	margin: 0;
	padding: 0;
}

.section {
	text-align: center;
	padding: 50px;
}

/* Navbar */
.navbar_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 700px;
	width: 100%;
}

.nav_link {
	text-decoration: none;
	color: white;
	font-family: 'Shantell Sans', cursive;
	text-align: center;
	text-wrap: nowrap;
}

.nav_link.active {
	font-weight: bold;
	/*text-decoration: overline;*/
	color: var(--tm-primaryColor);
	font-family: 'Kavoon', cursive;
}
/*
.nav_link:hover {
	color: #b5b5b5;
}
*/
/* Fullpage.js (Opcional) */
.fp-nav {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	z-index: 100;
}

.fp-nav li {
	margin-bottom: 10px;
}

.fp-nav a {
	display: block;
	padding: 10px 15px;
	border: 1px solid #ccc;
	text-decoration: none;
}

.fp-nav a:hover {
	background-color: #eee;
}

.fp-overflow {
	height: 100%;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background-color: white !important;
}

#div-fotos {
	width: 100vw !important;
	height: 100vh !important;
	position: absolute;
	top: 0;
	left: 0;
}

.drag-foto {
	padding: 6px 6px 0px;
	background-color: var(--tm-tertiaryColor);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
	width: fit-content;
	height: fit-content;
	display: none;
	position: absolute;
}

.img-foto {
	width: 110px;
	height: 110px;
	background-color: #000000;
}

.desc-foto {
	font-family: "Reenie Beanie", cursive;
	margin: 5px 0px 5px 0px;
	max-width: 110px;
}

#conteudo-section {
		display: flex;
		justify-content: center;
		height: 100%;
		width: 100%;
		flex-direction: column;
}

#titulo-texto1 {
	color: white;
	font-size: 40px;
	font-family: 'Shantell Sans', cursive;
	font-weight: bold;
	margin: 0% 10% 0% 10%;
}

#titulo-texto {
	color: var(--tm-primaryColor);
	font-size: 25px;
	font-family: 'Kavoon', cursive;
	font-weight: bold;
	margin: 0% 10% 0% 10%;
	text-shadow: 0px 0 var(--tm-secondaryColor), -2px 0 var(--tm-secondaryColor), 0 2px var(--tm-secondaryColor), 0 -2px var(--tm-secondaryColor),
	 1px 1px var(--tm-secondaryColor), -1px -1px var(--tm-secondaryColor), 1px -1px var(--tm-secondaryColor), -1px 1px var(--tm-secondaryColor);
}

#titulo-texto2 {
	color: var(--tm-primaryColor);
	font-size: 40px;
	font-family: 'Kavoon', cursive;
	font-weight: bold;
	text-shadow: 0px 0 var(--tm-secondaryColor), -2px 0 var(--tm-secondaryColor), 0 2px var(--tm-secondaryColor), 0 -2px var(--tm-secondaryColor),
	 1px 1px var(--tm-secondaryColor), -1px -1px var(--tm-secondaryColor), 1px -1px var(--tm-secondaryColor), -1px 1px var(--tm-secondaryColor);
}

#subtitulo-texto {
	color: var(--tm-secondaryColor);
	font-size: 13px;
	font-family: 'Shantell Sans', cursive;
	font-weight: bold;
	margin: 0px 10% 50px 10%;
	border: 1px;
	border-color: white;
	text-shadow: 2px 0 var(--tm-tertiaryColor), -2px 0 var(--tm-tertiaryColor), 0 2px var(--tm-tertiaryColor), 0 -2px var(--tm-tertiaryColor),
	 1px 1px var(--tm-tertiaryColor), -1px -1px var(--tm-tertiaryColor), 1px -1px var(--tm-tertiaryColor), -1px 1px var(--tm-tertiaryColor);
}

#descricao-texto {
	color: white;
	font-family: 'Shantell Sans', cursive;
	margin: 0% 10% 0% 10%;
	text-align: justify;
}

.section {
	/*background-image: url("assets/images/bolinhas-br.png");
	background-size: 300px 300px;
	background-repeat: repeat;
	opacity: 100%;*/
	padding: 5%;
}

#fundo {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("assets/images/bolinhas-br.png");
	background-size: 300px 300px; /* Set background image size to 100px x 100px */
	background-repeat: repeat; /* Make the image repeat horizontally and vertically */
	padding: 5%;
	opacity: 100%;
}