body {
    margin: 0;
    display: flex;
    font-family: Roboto;
    color: #fff;
    width: 100dvw;
    min-height: 100dvh;
    max-width: 100vw;
    /* max-height: 100vh; */
    background-color: #000;
}

.parte-btns-ordem {
    display: flex;
    gap: 10px;
}

.parte-btns-ordem > i {
    --tamanho: 30px;
    height: var(--tamanho);
    width: var(--tamanho);
    background-color: #743679;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body textarea {
    font-family: Roboto;
}

#btn-add-parte {
    display: flex;
    justify-content: center;
    background-color: #5b62ff;
    padding: 8px;
    border-radius: 10px;
}

#partes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#partes-header {
    font-size: 18px;
    font-weight: bold;
}

.pt-btn-remover-imagem {
    background-color: #a12121;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-size: 14px;
}

.pt-btn-remover-imagem > p {
    pointer-events: none;
}

.pt-preview-imagem {
    width: 100%;
    aspect-ratio: 9 / 14;
}

#partes-body {
    max-width: calc(100dvw - 40px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-pt-exclusivo {
    width: fit-content;
}

.pbm-infos {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    gap: 20px;
    max-width: calc(100% - 104px);
}

.parte-imagem-upload {
    /* width: 100px; */
    border-color: #2d2d2d;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-width: 90px;
    max-width: 90px;
}

.pt-body-main {
    display: flex;
    gap: 10px;
    /* flex: 1; */
    width: 100%;
    /* max-width: calc(100dvw - 60px); */
}

.parte-body {
    display: flex;
    flex-direction: column;
}

.parte-body textarea {transition: max-height 0.2s ease;max-height: calc(39px - 16px);height: auto;/* overflow: visible; */text-overflow: ellipsis;}

.parte-body textarea:focus {
    max-height: 100vh;
    /* min-height: 60px; */
}

#ed-sinopse textarea {transition: max-height 0.2s ease;max-height: calc(39px - 16px);height: auto;/* overflow: visible; */text-overflow: ellipsis;}

#ed-sinopse textarea:focus {
    max-height: 100vh;
    /* min-height: 60px; */
}

.parte-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.parte {
    display: flex;
    flex-direction: column;
    background-color: #4f4f4f;
    padding: 10px;
    border-radius: 15px;
    gap: 10px;
    /* max-width: calc(100dvw - 60px); */
}

#outras-infos {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    max-width: calc(100vw - 40px);
}

#textos {
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    gap: 20px;
    max-width: calc(100% - 125px);
}

#textos .input-group {
    /* max-width: calc(100% - 99px); */
}

#ed-data > input {
    font-size: 16px;
    /* color: #fff; */
}

#ed-exclusivo {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

#ed-exclusivo > input {
    --tamanho: 20px;
    height: var(--tamanho);
    width: var(--tamanho);
    /* border-radius: 47px; */
    /* overflow: hidden; */
}

body p {
    margin: 0;
}

.parte-header > p {
    font-size: 16px;
}

.parte-header > i {
    --tamanho: 35px;
    height: var(--tamanho);
    width: var(--tamanho);
    background-color: #a12121;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#main {
    background-color: #000;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    filter: blur(100px);
    transition: filter 0.5s;
    width: 100%;
    padding: 20px;
}

#editor-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#editor-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* width: fit-content; */
    /* align-items: center; */
}

#imagem-capa-upload {align-items: center;}

#imagem-capa-preview {
    width: 100px;
    border-color: #2d2d2d;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    /* aspect-ratio: 9/14; */
    display: flex;
    overflow: hidden;
    flex-direction: column;
    /* min-height: 160px; */
}

#btn-remover {
    background-color: #a12121;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

#preview-capa {
    width: 100%;
    aspect-ratio: 9 / 14;
}

.input-group > input {
    padding: 8px 14px;
    font-size: 20px;
    border-radius: 10px;
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

.input-group > textarea {
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 10px;
    height: 39px;
    resize: none;
}

input, input:autofill, textarea, textarea:autofill {
    background-color: #2d2d2d;
    stroke: none;
    border: none;
    transition: color calc(infinity* 1s) step-end, background-color calc(infinity* 1s) step-end;
    outline: none;
    color: #fff;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 30px #2d2d2d;
    -webkit-text-fill-color: #fff;
}

.input-group > label {
    font-size: 14px;
    width: fit-content;
}

#editor {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#editor-header > p {
    font-size: 20px;
}

#back-btn {
    --tamanho: 35px;
    height: var(--tamanho);
    width: var(--tamanho);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#btn-salvar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    --tamanho: 70px;
    height: var(--tamanho);
    width: var(--tamanho);
    background-color: #215d01;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    /* color: #000; */
    font-size: 25px;
    /* z-index: 999; */
}