:root {
    --cor-principal: #440f0f;
}

#blackout {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: #000000;
    z-index: 9999;
    /* filter: blur(30px); */
    transition: opacity 1s ease;
    opacity: 1;
    pointer-events: none;
}