#header-menu {
    display: flex;
    padding: 8px 20px;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: calc(100% - 40px);
    color: #fff;
    height: 34px;
}

#filtros {
    /* margin-top: 58px; */
    display: flex;
    /* padding: 12px; */
    gap: 12px;
}

#conteudo {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

#destaque {
    /* max-height: calc(100% - 39px); */
    /* aspect-ratio: 1/1; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0px 20px; */
    position: relative;
    /* box-shadow: 10px 18px; */
}

.secao-item {
    /* height: calc(100% - 4px); */
    /* font-size: 0; */
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    position: relative;
    box-shadow: 0 0 25px -15px;
    justify-content: center;
    min-width: 100px;
    width: 100px;
}

.secao-item > p {
    position: absolute;
    /* width: 100%; */
    text-align: center;
    margin: 0;
    bottom: 0;
    font-family: "Shantell Sans", cursive;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    /* word-break: break-all; */
    /* margin: 0 auto; */
    /* margin-left: auto; */
    text-shadow: 0 0 6px #000;
}

.secao-item > img {
    min-width: 100px;
    aspect-ratio: 9/14;
    /* font-size: 0; */
    display: block;
    object-fit: cover;
}

.secao-conteudo {
    display: flex;
    gap: 15px;
    /* box-shadow: 0 0 60px -15px; */
    overflow: scroll;
    width: calc(100vw - 40px);
    margin-left: -20px;
    padding: 0 20px;
    --ms-overflow-style: none;
    scrollbar-width: none;
}

.secao-titulo {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

#destaque-imagem {
    height: calc(100% - 5px);
    /* width: 100vw; */
    position: relative;
}

#destaque-cor {
    position: absolute;
    width: 100%;
    bottom: 9px;
    height: 200px;
    background-image: linear-gradient(to top, var(--cor-principal), transparent);
    z-index: 998;
    border-radius: 15px;
}

#destaque-fundo {
    height: calc(100% - 10px);
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    /* border-style: solid; */
    /* border-color: #ffffff63; */
    /* border-width: 2px; */
    /* border-inline: 5px solid rgba(255, 255, 255, 0.5); */
    aspect-ratio: 9 / 13;
}

#destaque-info {
    --border: 1.5px;
    --padding: 15px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - (var(--border) * 2) - (var(--padding) * 2));
    display: flex;
    height: calc(100% - 10px - (var(--border) * 2) - (var(--padding) * 2));
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: var(--border) solid #ffffff2e;
    z-index: 999;
    box-shadow: 0 0 60px -15px;
    padding: var(--padding);
    gap: 15px;
    justify-content: flex-end;
}

.destaque-botao {
    display: flex;
    align-items: center;
    background-color: #fff;
    /* width: 100%; */
    padding: 10px 15px;
    border-radius: 5px;
    justify-content: center;
    font-weight: bold;
    gap: 10px;
    font-size: 18px;
}

#destaque-botoes {
    width: 100%;
    /* padding: 5px; */
    /* border-radius: 10px; */
}

.destaque-botao > p {
    margin: 0;
}

#destaque-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
}

#destaque-texto > p {
    margin: 0;
    font-family: 'Shantell Sans', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

#destaque-imagem > img {
    /* height: 100%; */
    width: 100%;
    aspect-ratio: 9/13;
    object-fit: cover;
    display: block;
}

.filtro {
    color: var(--cor);
    /* height: fit-content; */
    --cor: #fff;
    padding: 8px 12px;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: var(--cor);
    font-size: 14px;
    font-family: Roboto;
    box-sizing: border-box;
}

.filtro.ativo {
    background-color: #ffffff3d;
}

#filtro-nenhum {
    padding: 0px;
    aspect-ratio: 1/1;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filtro-nenhum > p {
    margin-top: 1px;
}

.filtro > p {
    margin: 0;
}

#header-menu-fundo {
    position: absolute;
    /* top: 0; */
    width: 100%;
    height: 200px;
    left: 0;
    background-image: linear-gradient(to bottom, #000000d9, #2b000000);
    z-index: 998;
    pointer-events: none;
}

#header-menu-logo {
    /* display: flex; */
    width: 34px;
    z-index: 999;
    /* height: 34px; */
}

#header-menu-buttons {
    margin-left: auto;
    font-size: 22px;
    display: flex;
    gap: 26px;
    z-index: 999;
}

#main {
    max-width: 1024px;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
    filter: blur(100px);
    transition: filter 0.5s ease;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Roboto;
}

#select-filtro-participantes-close-button {
    position: fixed;
    bottom: 30px;
    width: 100dvw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    left: 0;
}

#select-filtro-participantes-close-button > i {
    --tamanho: 65px;
    height: var(--tamanho);
    width: var(--tamanho);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffef5;
    border-radius: 100px;
    font-weight: bold;
    font-size: 20px;
}

#lista-participantes {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
}

.participante.ativo {
    font-weight: bold;
    font-size: 22px;
}

#select-filtro-participantes {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    background-color: #000000b8;
    display: flex;
    flex-direction: column;
    padding: 90px 40px;
    box-sizing: border-box;
    z-index: 9999;
}

#fundo {
    /* background-image: linear-gradient(to bottom, #000, #250000); */
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--cor-principal);
}

#load {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: #D71748;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#load > img {
    width: 25%;
    /* transform: scale(10); */
}

#header-menu-logo > img {
    width: 100%;
}

.carousel {position: relative;width: 100%;/* max-width: 600px; *//* overflow: hidden; *//* border-radius: 10px; *//* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */}

.carousel-slides {
display: flex;
transition: transform 0.5s ease;
}

.carousel-track {
    position: relative;
    overflow: hidden;
}

.carousel-slide {
min-width: 100%;
}

.carousel-slide img {
width: 100%;
display: block;
}

.carousel-indicators {position: relative;/* bottom: 10px; */left: 50%;transform: translateX(-50%);display: flex;gap: 8px;/* width: 100%; */align-items: center;justify-content: center;padding: 10px;/* background-image: linear-gradient(to bottom, #000, #2b000000); */}

.carousel-footer-bg {
    background-image: linear-gradient(to bottom, #000, #2b000000);
    position: absolute;
    top: -1px;
    width: 100%;
    height: 100px;
    pointer-events: none;
}

#carousel-footer {
    position: relative;
}

.indicator {
width: 10px;
height: 10px;
background-color: #333;
border-radius: 50%;
transition: background-color 0.3s;
}

.indicator.active {
background-color: #bbb;
}

.carousel-degrade {
    position: absolute;
    width: 100%;
    height: 150px;
    pointer-events: none;
}

.carousel-degrade.top {
    top: 0;
    background-image: linear-gradient(to bottom, #000000d9, #2b000000);
}

.carousel-degrade.bottom {
    bottom: -1px;
    background-image: linear-gradient(to top, #000000, #2b000000);
    /* pointer-events: none; */
}