#header-menu {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: calc(100vw - 32px);
    color: #fff;
    height: 34px;
    background-color: #000000;
    font-size: 22px;
}

#main {
    background-color: #000;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    filter: blur(100px);
    transition: filter 0.5s;
}

body {
    margin: 0;
    display: flex;
    font-family: Roboto;
    color: #fff;
    /* min-height: 100vh; */
}

#aviso-avaliacao {
    color: #ff4242;
    font-size: 14px;
    justify-self: center;
}

#btn-avaliar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbdbdb;
    padding: 10px;
    color: #000;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

#menu-avaliacao-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    box-sizing: border-box;
}

#avaliacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 40px;
}

#menu-avaliacao-body {
    display: flex;
    flex-direction: column;
}

#menu-avaliacao-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

#menu-avaliacao-header > i {
    --tamanho: 25px;
    min-width: var(--tamanho);
    min-height: var(--tamanho);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-menu-avaliacao {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 210px 145px #000000;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 20px;
    gap: 25px;
    min-width: 70vw;
    box-sizing: border-box;
}

#menu-avaliacao {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    max-width: 100vw;
    max-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#menu-avaliacao p {
    margin: 0;
}

.parte-exclusivo {
    display: flex;
    flex-direction: row;
    background-color: #0079197a;
    width: fit-content;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 11px;
    gap: 5px;
    align-items: center;
}

.parte-textos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#div-exclusivo {
    display: flex;
    flex-direction: row;
    background-color: #0079197a;
    width: fit-content;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 11px;
    gap: 5px;
    align-items: center;
}

.parte-item > video {
    width: 60px;
    aspect-ratio: 9 / 14;
    border-radius: 10px;
    object-fit: cover;
}

html {
    background-color: #000;
}

#header-menu-fundo {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 200px;
    left: 0;
    background-image: linear-gradient(to bottom, #000000d9, #2b000000);
    z-index: 998;
    pointer-events: none;
}

#header-menu-logo {
    /* display: flex; */
    /* width: 16%; */
    /* z-index: 999; */
}

#conteudo {
    padding-top: 50px;
    /* height: 100%; */
    overflow-x: hidden;
    width: 100vw;
}

#banner {
    width: 100vw;
    overflow: hidden;
    aspect-ratio: 14/9;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 500;
    align-items: center;
}

#item-info {
    z-index: 503;
    position: relative;
    /* color: #fff; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    /* background-color: #000; */
    padding-bottom: 20px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#item-info p {
    margin: 0;
}

#envolvidos {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #696969;
}

#envolvidos .mostrador {
    font-weight: bold;
}

#partes-lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#item-partes {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#separador {
    height: 2px;
    background-color: #272727;
    width: 100vw;
    /* z-index: 505; */
    margin-left: -20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#item-partes > p {
    font-size: 18px;
    font-weight: bold;
}

.parte-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.parte-item > img {
    width: 60px;
    aspect-ratio: 9/14;
    border-radius: 10px;
    object-fit: cover;
}

.parte-item > p {
    font-size: 16px;
    font-weight: bold;
}

.parte-item > i {
    margin-left: auto;
}

#titulo {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

#item-carac {
    display: flex;
    gap: 10px;
    font-size: 13px;
    align-items: center;
    color: #696969;
}

#item-buttons {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    gap: 8px;
}

#item-buttons > div {
    display: flex;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

#btn-verhistoria {
    background-color: #fff;
    color: #000;
}

#btn-editarhistoria {
    background-color: #232323;
    color: #ffffff;
}

#item-sinopse {
    font-size: 15px;
}

#banner > #img-principal {
    height: 100%;
    z-index: 502;
}

#banner-blur {
    filter: blur(10px);
    position: absolute;
    z-index: 1;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    background-color: #fff;
}

#banner-blur > #img-secundaria {width: 100%;display: block;}

#header-menu-buttons {
    margin-left: auto;
    /* font-size: 22px; */
    display: flex;
    gap: 26px;
    z-index: 999;
    display: none;
}

#header-menu-logo > img {
    width: 100%;
}