body {
    height: 100dvh;
    width: 100dvw;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background-color: #000;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    justify-content: space-between;
    font-family: Roboto;
}

body p {
    margin: 0;
}

#rodape-info {
    color: #4d4d4d;
    font-size: 13px;
}

#rodape-nome {
    color: #fff;
    font-size: 13px;
}

#apresentacao {
    max-width: 100vw;
    overflow: hidden;
    height: 100%;
    border-radius: 25px;
    position: relative;
}

#rodape {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

#rodape-texto {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#rodape-logo {
    height: 30px;
    /* background-color: #fff; */
    display: flex;
}

#rodape-logo > img {
    display: block;
}

#imagens {
    display: flex;
    width: 100%;
    height: 100%;
}

#descricoes {
    /* position: absolute; */
    /* bottom: 0; */
    color: #fff;
    font-family: "Shantell Sans", cursive;
    font-size: 25px;
    /* padding: 40px 30px; */
    text-align: center;
    /* -webkit-text-stroke: 26px #000000; */
    text-shadow: 0px 4px 4px #282828;
    font-weight: bold;
}

.descricao.ativa {
    /* display: block; */
    opacity: 1;
}

.descricao {
    /* display: none; */
    position: absolute;
    bottom: 0;
    /* text-shadow: 0px 4px 4px #282828; */
    padding: 40px 30px;
    transition: opacity 0.3s;
    opacity: 0;
}

.imagem {
    display: none;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
}

.imagem.ativa {
    display: flex;
}

#botoes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}

#btn-header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}

#btn-header > div {
    --tamanho: 40px;
    width: var(--tamanho);
    height: var(--tamanho);
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 20px;
}

#btn-body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#btn-body > div {
    width: 50%;
    height: 100%;
}

.im-fundo {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
    pointer-events: none;
}

.imagem.ativa .im-fundo {
    display: block;
}

.im-imagem {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    transform: scale(1.1);
}

.imagem.ativa .im-imagem {
    display: block;
}

#indicadores {
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    /* min-height: 34px; */
    align-items: center;
    gap: 3px;
    padding: 12px 24px;
    position: relative;
    justify-content: space-evenly;
}

#main {
    filter: blur(100px);
    transition: filter 0.5s ease;
}

.indicador-atual {
    background-color: #fff;
    height: 100%;
    z-index: 20;
    position: relative;
    width: 0%;
}

.indicador-sombra {
    background-color: #575757;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.indicador {
    height: 2px;
    /* background-color: #fff; */
    width: 100%;
    position: relative;
}

.indicador.passado .indicador-sombra {
    /* width: 100%; */
    background-color: #fff;
}